# Virtual environment
.venv/
venv/
env/
.env/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
staticfiles/
media/

# Secrets
.env
*.env.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

frontend/